body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
}

canvas {
    display: block;
    background: radial-gradient(circle at 50% 50%, #00111a, #000000); /* Kosmiczne tło */
}
